// Bootstrap defaults combined w/what is established in the variables partial looks better than including these

h1,
h2,
h3,
h4 {
  font-family: $font-family-headings;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 {
	font-size: $font-size-h1;
}
h2 {
	font-size: $font-size-h2;
}
h3 {
	font-size: $font-size-h3;
}
h4 {
	font-size: $font-size-h4;
}
p {
    font-size: $font-size-p;
    line-height: 1.5;
}
div>p {
    margin-top:10px;
}
.lefty {
    text-align: left;
}